{% extends 'base.html' %}
{% block content %}
    <section class="palestras">
        <h2>Programação</h2>

        <h3>Manhã</h3>
        {% for talk in morning_talks %}
            {% include 'core/talk_list_snippet.html' %}
        {% empty %}
            <p>Não existem palestras durante a manhã.</p>
        {% endfor %}
        <h3>Tarde</h3>
        {% for talk in afternoon_talks %}
            {% include 'core/talk_list_snippet.html' %}
        {% empty %}
            <p>Não existem palestras durante a tarde.</p>
        {% endfor %}
    </section>
{% endblock content %}
