*, html {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

header {
    padding: 0 5%;
    background-color: #1abc9c;
    vertical-align: middle;
}

section {
    padding: 2% 5%;
    border-bottom: 2px solid #1abc9c;
    clear: both;
}

h1 { 
    color: #16a085;
    font-size: 2em;
    line-height: 3em;
}

h2 {
    color: #1abc9c;
    line-height: 2.5em;
}


header a {
    color: white;
    text-decoration: none;
    text-shadow: -0.12em 0.15em 0 #2c3e50;
}

header a:hover {
    border-bottom: 3px solid #2c3e50;
}

header a:active {
    text-shadow: 0.1em -0.1em 0 #2c3e50;
    border-bottom: none;
}

.button {
    border-radius: 0.5em;
    background-color: #e74c3c;
    text-shadow: -0.05em 0.05em 0 #c0392b;
    box-shadow: -0.12em 0.15em 0 #c0392b;
    color: #fff;
    text-decoration: none;
}

.destaque {
    color: #1abc9c;
    font-weight: bold;
}

.header_logo {
    display: inline;
    text-align: left;
}

.header_nav {
    display: inline;
    text-align: right;
}

.header_nav ul {
    margin-top: 50px;
    float: right;
}

.header_nav li { 
    display: inline-block;
    margin: 0 15px;
    text-align: right;
    font-size: 1.2em;
}

.inicio {
    text-align: center;
}

.inicio p {
    line-height: 1.5em;
}

.inicio_inscricao {
    display: inline-block;
    margin: 2% 0;
    padding: 1%;
    font-size: 1.3em;
}

.inicio_inscricao:active {
    margin-top: 2.2%;
    text-shadow: 0.05em -0.05em 0 #c0392b;
    box-shadow: 0.12em -0.15em 0 #c0392b;
}

.onde_mapa {
    height: 500px;
    background: url(../img/map.png) no-repeat center;
    vertical-align: bottom;
}

.onde_mapa_texto {
    position: absolute;
    left: 8%;
    margin-top: 300px;
}

.onde_mapa_texto p {
    float: left;
    clear: both;
    margin: 5px;
    padding: 0 10px;
    background-color: #2980b9;
    color: #fff;
    font-size: 1.5em;
}

/* Inscrição */

.inscricao form {
    display: table-cell;
}

.inscricao p {
    line-height: 20pt;
    margin: 2% 0;
    text-align: right; 
}

.inscricao input {
    font-size: 1.2em;
    padding: 5px; 
}

.errorlist li {
    font-size: 10pt;
    color: Red;
    text-align: right;
    list-style: none;
}

.inscricao .button {
    border: none;
    float: right;
    font-size: 1em;
}