{% extends 'base.html' %}
{% block content %}
    <section class="inicio">
        <h1>Bem-vindo ao EventeX!</h1>
        <p>Venha conhecer os palestrantes imaginários do EventeX, o melhor evento fake do Brasil!</p>
        <p>Aprenda coisas que ainda não defini quais serão e concorra a prêmios.</p>
        <a class="inicio_inscricao button" href="{% url subscriptions:subscribe %}">inscreva-se</a>
    </section>
    <section class="onde">
        <h2><a name="onde">Onde</a></h2>
        <div class="onde_mapa">
            <div class="onde_mapa_texto">
                <p>Em um endereço que</p>
                <p>esse mapa é incapaz de localizar</p>
                <p>pois simplesmente não existe</p>
            </div>
        </div>
    </section>
    <section class="quando">
        <h2><a name="quando">Quando</a></h2>
        <p>Dia: <strong>Hoje</strong></p>
        <p>Horário: <strong>Agora</strong></p>
        <p class="destaque">Não perca tempo, você já está atrasado!</p>
    </section>
{% endblock content %}