<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EventeX</title>
        <meta name="description" content="EventeX é um evento fake criado para exemplo.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    </head>
    <body>
        <header>
            <img src="{{ STATIC_URL }}img/logo.png">
            <ul>
                <li><a href="#onde">Onde</a></li>
                <li><a href="#quando">Quando</a></li>
                <li><a href="#programacao">Programação</a></li>
            </ul>
        </header>
        <section class="inicio">
            <h1>Bem-vindo ao EventeX!</h1>
            <p>Venha conhecer os palestrantes imaginários do EventeX, o melhor evento fake do Brasil!</p>
            <p>Aprenda coisas que ainda não defini quais serão e concorra a prêmios.</p>
            <a href="/inscricao/">inscreva-se</a>
        </section>
        <section class="onde">
            <h2><a name="onde">Onde</a></h2>
            <div class="onde__mapa">
                <div class="onde__mapa__texto">
                    <p>Em um endereço que</p>
                    <p>esse mapa é incapaz de localizar</p>
                    <p>pois simplesmente não existe</p>
                </div>
            </div>
        </section>
        <section class="quando">
            <h2><a name="quando">Quando</a></h2>
            <p>Dia: Hoje</p>
            <p>Horário: Agora</p>
            <p>Não perca tempo, você já está atrasado!</p>
        </section>
        <section>
            <a name="programacao"><h2>Programação</h2></a>
            <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
        </section>
    </body>
</html>